
    <main>
    
    <div class="container text-center">
    
            <div id="rolo-banner" class="bannertest"> </div>
    
            <!-- <div class="banner"><a href="">
                <img class="img-fluid banner" src="assets/img/banner.png"  alt="banner">
            </a>
            </div> -->
        
            <!-- <div class="banner">
                <img id ="banner-img" class="img-banner" src="assets/img/jogo1.png">
            </div> -->
            <div class="content_setores">
                
                    
        
                <div class="row">
                    <div class="col-4">
                        <a href=""><img class="img-fluid" src="assets/img/Monitores.png" alt="monitores"></a>
                    </div>
                    <div class="col-4">
                        <a href=""><img class="img-fluid" src="assets/img/Hardwares.png" alt="hardwares"></a>
                    </div>
                    <div class="col-4">
                        <a href=""><img class="img-fluid" src="assets/img/Graphics.png" alt="graphics"></a>
                    </div>
                </div>
            </div>
    
            <div class="content_gamer">
                <div class="row">
                    <div class="col-sm-3">
                        <a href=""><img class="img-fluid" src="assets/img/DesktopGamer.png" alt="desktop-gamer"></a>
                    </div>
                    <div class="col-sm-9">
                        <a href=""><img class="img-fluid" src="assets/img/bannergamer.png" alt="banner-gamer"></a>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-9">
                        <a href=""><img class="img-fluid" src="assets/img/bannergamernotebook.png" alt="banner-gamer-notebook"></a>
                    </div>
                    <div class="col-sm-3">
                        <a href=""><img class="img-fluid" src="assets/img/NotebookGamer.png" alt="notebook-gamer"></a>
                    </div>
                </div>
            </div>
    
            <div class="content_student">
                <div class="row">
                    <div class="col-sm-3">
                        <a href=""><img class="img-fluid" src="assets/img/Notebooks2in1.png" alt="notebook-2-in-1"></a>
                    </div>
                    <div class="col-sm-6">
                        <a href=""><img class="img-fluid" src="assets/img/bannerstudents.png" alt="banner-students"></a>
                    </div>
                    <div class="col-sm-3">
                        <a href=""><img class="img-fluid" src="assets/img/Tablets.png" alt="tablets"></a>
                    </div>
                </div>
            </div>
    
            <div class="content_workstation">
                <div class="row">
                    <div class="col-sm-3">
                        <a href=""><img class="img-fluid" src="assets/img/Workstations.png" alt="workstation"></a>
                    </div>
                    <div class="col-sm-6">
                        <a href=""><img class="img-fluid" src="assets/img/bannerworkstation.png" alt="banner-workstation"></a>
                    </div>
                    <div class="col-sm-3">
                        <a href=""><img class="img-fluid" src="assets/img/Notebooks.png" alt="notebooks"></a>
                    </div>
                </div>
            </div>
    
            <div class="content_hobbyst">
                <div class="row">
                    <div class="col-sm-6">
                        <a href=""><img class="img-fluid"   src="assets/img/bannerhobbist.png" alt="banner-hobbyst"></a>
                    </div>
    
                    <div class="col-sm-3">
                        <a href=""><img class="img-fluid" src="assets/img/Allinone.png" alt="all-in-one"></a>
                    </div>
    
                    <div class="col-sm-3">
                        <a href=""><img class="img-fluid" src="assets/img/ultrabooks.png" alt="ultrabooks"></a>
                    </div>
                </div>
            </div>
    
    </div>
    
    </main>

    
    
