<header>
    <nav class="menu-principal ">
      <ul>
          <li class="logo">
            <a href="index.html">Logo</a>
          </li>
              
          <li>
              <a href="">Loja</a>
           </li>
              
          <li>
              <a href="">Student</a>
          </li>
    
                <li>
              <a href="">Workstation</a>
          </li>
    
                <li>
              <a href="">Gamer</a>
          </li>
                      <li>
              <a href="">Hobbyist</a>
          </li>
                            <li>
              <a href="">Comunidade</a>
          </li>
                                  <li>
              <a routerLink="/suporte">Suporte</a>
          </li>
    
           <li>
              <a routerLink="/login">Login</a>
          </li>
      </ul>
    </nav>
    
    </header>