<main>

    <div class="container text-center">
    
    <h2>Login</h2>
    <div class="login">
    <form id="login" onsubmit="login();">
    
    <div class="mb-3">
             <input type="email" class="form-control" id="email" placeholder="email@email.com">
        
    
               <input type="password" class="form-control" id="password" placeholder="Password">
    
               <input class="btn btn-primary" type="submit" value="Submit" >
      </div>
    
    </form>
    </div>
    </div>
    </main>